<nav class="navbar navbar-fixed-top navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
    ☰
  </button>

  <!-- Collapsable content -->
  <div id='navbar-header' class='collapse navbar-toggleable-xs'>
    <a class="navbar-brand" routerLink="/home">
      <img class="img-fluid" alt="Learning Limb" src="../../../../images/logo-2.png" />
    </a>
    <div class='nav navbar-nav'>
      <a class='nav-item nav-link' routerLink="/home">
        <ll-button>Home</ll-button>
      </a>
      <a class='nav-item nav-link' routerLink="/books">
        <ll-button>Our Books</ll-button>
      </a>
      <a class='nav-item nav-link' routerLink="/about">
        <ll-button>About Us</ll-button>
      </a>
      <a class='nav-item nav-link' routerLink="/support">
        <ll-button>Support</ll-button>
      </a>
      <div class='btn-group pull-xs-right'>
        <div *ngIf="userName" class="d-inline nav-item nav-link dropdown">
          <a class="btn btn-link dropdown-toggle" id="accountMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi {{ userName }}!
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenuLink">
            <div class="container p-t-1">
              <a class='dropdown-item' href="#">My account</a>
              <a class='dropdown-item' href="/auth/logout">Logout</a>
            </div>
          </div>
        </div>
        <div *ngIf="!userName" class="d-inline nav-item nav-link dropdown">
          <a class="btn btn-link dropdown-toggle" id="loginMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginMenuLink">
            <div id="signin-form" class="container">
              <form class="form-signin">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="remember-me-row">
                  <label class="checkbox">
                      <input type="checkbox" value="remember-me">&nbsp;Remember me
                    </label>
                  <button class="btn btn-primary pull-right" type="submit">Sign in</button>
                </div>
              </form>
              <div class="p-t-1">
                <a class="d-inline btn btn-link">New User?</a><a class="d-inline clearfix btn btn-link">Forgot Password?</a>
              </div>
            </div>
            <a class='dropdown-item' href="/auth/google">
              <google-login-btn class="social-login"></google-login-btn>
            </a>
            <a class='dropdown-item' href="/auth/facebook">
              <facebook-login-btn class="social-login"></facebook-login-btn>
            </a>
          </div>
        </div>
        <a class='nav-item nav-link' routerLink="/cart">(0)&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</nav>