<div class="container-fluid">
    <div class="row">
        <ll-jumbotron id="boys" color="#00a1ef" class="col-xs-12 col-md-6 books">
            <div class="circle center">
                <div class="circle center inner">
                    <img src="./images/jumping-boy.png"/>
                </div>
            </div>
            <h3>Books for Boys</h3>
        </ll-jumbotron>
        <ll-jumbotron id="girls" color="#ed008c" class="col-xs-12 col-md-6 books">
            <div class="circle center">
                <div class="circle center inner">
                    <img src="./images/jumping-girl.png"/>
                </div>
            </div>
            <h3>Books for Girls</h3>
        </ll-jumbotron>
    </div>
</div>