<div class="container">
  <div class="row flex-items-xs-center">
    <ll-jumbotron color="#f7292a" class="col-sm-8 container">
      <form>
        <div class="form-group row">
          <label for="email-input" class="col-sm-1 col-form-label"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></label>
          <input type="email" class="form-control col-sm-8" id="email-input" aria-describedby="email-help" placeholder="Enter email" required>
          <small id="email-help" class="form-text offset-sm-1 col-sm-11">Don't worry, we'll never share your info.</small>
        </div>

        <div class="form-group row">
          <label for="first-name-input" class="col-sm-1 col-form-label"><i class="fa fa-user fa-lg" aria-hidden="true"></i></label>
          <input type="text" class="form-control col-sm-8" id="first-name-input" placeholder="First Name" required>
          <input type="text" class="form-control col-sm-8 offset-sm-1" id="first-name-input" placeholder="Last Name" required>
        </div>

      </form>
    </ll-jumbotron>
  </div>
</div>