<div class="container">
  <form #userForm="ngForm" role="form" class="form-signin">
    <div class="form-group row">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" [(ngModel)]="user.local.email" name="email">
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="user.local.password" name="password">
    </div>

    <div class="form-group row">
      <label class="checkbox col-sm-4">
          <input type="checkbox" value="remember-me">&nbsp;Remember me
      </label>
      <button class="btn btn-primary offset-sm-6 col-sm-2" (click)="onSubmit()" data-dismiss="modal" type="submit">Sign in</button>
    </div>
  </form>

  <div class="row p-t-1">
    <a class="d-inline btn btn-link" data-dismiss="modal" routerLink="/signup">New User?</a>
    <a class="d-inline btn btn-link" data-dismiss="modal" routerLink="/signup">Forgot Password?</a>
  </div>
</div>
<div class="social">
  <a class='dropdown-item row' href="/auth/google">
    <google-login-btn class="social-login"></google-login-btn>
  </a>
  <a class='dropdown-item row' href="/auth/facebook">
    <facebook-login-btn class="social-login"></facebook-login-btn>
  </a>
</div>