:host {
    min-height: 100%;
    .container-fluid {
        overflow: auto;
    }
    .footer {
        position: relative;
        margin-top: -1rem;
        /* negative value of footer height */
        height: 1rem;
        clear: both;
        padding-top: 20px;
    }
}