@import url('https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css');
@font-face {
  font-family: 'kb-stick-to-the-plan';
  src: url('./default-font.woff');
}
html, body {
  height: 100%;
}
body {
  padding: 15rem 0;
  margin: 0;
  height: 100%;
  background-image: url('./landscape-1200.jpg');
  background-attachment: fixed; 
  background-repeat: none;
  background-size: cover;
  font-family: 'kb-stick-to-the-plan';
}