<div class="container">
  <div class="row">
    <ll-jumbotron class="col-xs-12" color="#ed008c">
      <h1>Welcome to Learning Limb!</h1>
      <p>Teaching your children is more than just telling them what to do and when to do it. At LearningLimb we believe that teaching is a bond that is built with your child every step of the way. That experience begings with three easy steps.</p>
    </ll-jumbotron>
  </div>
  <div class="row">
    <ll-jumbotron class="col-xs-4" color="#ff9b00">
      <h2>Step 1</h2>
      <h3>Choosing</h3>
      <p>Choose a story that fits your child's needs</p>
      <img class="img-fluid" src="./images/boy-playing.png" />
    </ll-jumbotron>
    <ll-jumbotron class="col-xs-4" color="#67df4e">
      <h2>Step 2</h2>
      <h3>Building</h3>
      <p>Build the story that will shape your experience</p>
      <img class="img-fluid" src="./images/boy-playing.png" />
    </ll-jumbotron>
    <ll-jumbotron class="col-xs-4" color="#00a1ee">
      <h2>Step 3</h2>
      <h3>Working Together</h3>
      <p>Add definition</p>
      <img class="img-fluid" src="./images/boy-playing.png" />
    </ll-jumbotron>
  </div>
</div>
