<div class="container">
  <div class="row">
    <ll-jumbotron class="col-xs-12" color="#ed008c">
      <h1>Welcome to LearningLimb!</h1>
      <p>Teaching your children is more than just telling them what to do and when to do it. At LearningLimb we believe that
        teaching is a bond that is built with your child every step of the way. That experience begings with three easy steps,
        and we're here to make the journey with you.</p>
    </ll-jumbotron>
  </div>
  <div class="row">
    <ll-jumbotron class="col-xs-4" color="#ff9b00">
      <span class="step-emblem">1</span>
      <h2 class="text-xs-center">Choose</h2>
      <p>Choose a theme for your story</p>
      <div id="books-container" class="text-xs-center">
        <img id="book-1" class="img-fluid step-1-book" src="../../../../images/eating_habits_boy_cvr.svg" />
        <img id="book-2" class="img-fluid step-1-book" src="../../../../images/respect_boy_cvr.svg" />
        <img id="book-3" class="img-fluid step-1-book" src="../../../../images/sample_cover.png" />
      </div>
    </ll-jumbotron>
    <ll-jumbotron class="col-xs-4" color="#67df4e">
      <span class="step-emblem">2</span>
      <h2 class="text-xs-center">Build</h2>
      <p>Build the story that will shape your experience</p>
      <img class="img-fluid" src="./images/boy-playing.png" />
    </ll-jumbotron>
    <ll-jumbotron class="col-xs-4" color="#00a1ee">
      <span class="step-emblem">3</span>
      <h2 class="text-xs-center">Learn</h2>
      <p>Learn together</p>
      <img class="img-fluid" src="./images/boy-playing.png" />
    </ll-jumbotron>
  </div>
</div>