<ll-jumbotron color="#ed008c">
    <h1>Welcome to Learning Limb!</h1>
    <p>This site is undergoing some changes. Please check back again soon!</p>
    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
</ll-jumbotron>
<ll-jumbotron color="#ff9b00">
    <div class="col-xs-7">
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Nullam sed ligula nunc. Sed sollicitudin pulvinar sapien, non condimentum leo varius
            sollicitudin. Nunc dui tellus, condimentum non aliquet in, rutrum a nulla.</p>
    </div>
    <img src="./images/boy-playing.png"/>
</ll-jumbotron>